<p>
  candidate-center works!
</p>

<div class="row">

  <div class="col-sm-6">
    <app-candidates-liste (SelectCandidate)="onSelectCandidate($event)" [candidate]="candidates"></app-candidates-liste>
  </div>

  <div class="col-sm-6">
    <app-candidates-detail *ngIf="selectedCandidate" [candidate]="selectedCandidate"></app-candidates-detail>
  </div>

</div>