<!--<p>
  candidates-search {{title}}
</p>-->


<!--<form (submit)="searchCandidate()">

  <input type='texte' class='form-control' [(ngModel)]="candidates" name="candidates" #searchTerm>
  <br>
  <button class='btn btn-primary btn-lg'>Search</button>

</form>

<div *ngIf="selectedCandidate">

</div>-->

<!--<div class="grid grid-pad">
  <a *ngFor="let candidate of candidates" [routerLink]="['/detail', hero.id]" class="col-1-4">
    <div class="module hero">
      <h4>{{candidate.name}}</h4>
    </div>
  </a>
</div>-->


<div id="search-component">
  <h4>Candidate Search</h4>
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <div>
    <div *ngFor="let candidate of candidates | async" (click)="gotoDetail(candidate)" class="search-result">
      {{candidate.name}}
    </div>
  </div>
</div>
