<p>
  candidatedetail works!
</p>
<div *ngIf="candidate">
  <h2>{{candidate.name}} details!</h2>
  <div>
    <label>id: </label>{{candidate.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="candidate.name" placeholder="name" />
   </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>