<p>
  candidate-dashborad works!
</p>
<div class="grid grid-pad">
  <a *ngFor="let candidate of candidates"  [routerLink]="['/detail', candidate.id]"  class="col-1-4">
    <div class="module candidate">
      <h4>{{candidate.name}}</h4>
    </div>
  </a>
</div>
<app-candidates-search></app-candidates-search>
