<div class="container">
  <h1>
    {{title}}
  </h1>
  <!--<app-home></app-home>-->
  <!--<app-candidates-search></app-candidates-search>-->
  <app-navbar></app-navbar>

  <router-outlet></router-outlet>


</div>
