<p>
  candidates-detail works!
</p>

<!--{{candidate.name}} {{candidate.email}} {{candidate.username}} {{candidate.password}}-->


<div>
  <form>

    <div *ngIf ="editName" class="form-group">
      <input type="input" class="form-control" name="name" required placeholder="name" [(ngModel)]="candidate.name">
    </div>

    <h3 *ngIf="!editName" (click)="onNameClick()">{{candidate.name}}</h3>

    <div class="form-group">
      <input type="input" class="form-control" name="email" required placeholder="email" [(ngModel)]="candidate.email">
    </div>

    <div class="form-group">
      <input type="input" class="form-control" name="username" required placeholder="username" [(ngModel)]="candidate.username">
    </div>

    <div class="form-group">
      <textarea class="form-control" rows="5" name="desc" [(ngModel)]="candidate.description">
    </textarea>
    </div>

  </form>
</div>
